.about{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 4rem;
    padding: 0 10rem 0 10rem;
}
.about .about-left img{
    height: 700px;
    width: 500px;
    border-radius: 10px;
}
.about-right{
    margin-top: 20px;
}
.about-right .ap{
    text-transform: uppercase;
    color: red;
}
.about-right h3{
    font-size: 2rem;
    margin-top: 0px;
}
.about-details .ad{
    color: gray;
    font-size: 16px;
}
.about-details i{
    margin-right: 10px;
    color: blue;
}
.about-details .po{
    font-weight: 600;
}